@model ProfessorModel
@{
    ViewData["Title"] = $"Редактирование профессора (id = {Model.Id})";
}

<div class="text-center">
    <h2>@ViewData["Title"]</h2>
</div>

@using (Html.BeginForm("Edit", "Professors", FormMethod.Post))
{
    <div>
        <div style="margin-top: 20px;">
            <label asp-for="DoctorId"></label>
            <select asp-for="DoctorId" class="form-control" asp-items="ViewBag.Doctors"></select>
            <span asp-validation-for="DoctorId" class="text-danger"></span>
        </div>

        <div style="margin-top: 20px;">
            <button type="submit" class="btn btn-sm btn-primary" style="width: 200px;"><i class="fa fa-floppy-o"></i> Сохранить</button>
        </div>
    </div>
}
@using (Html.BeginForm("Delete", "Professors", new { Model.Id }, FormMethod.Post))
{
    <button type="submit" class="btn btn-sm btn-danger" style="margin-top: 5px; width: 200px;" onclick="return deleteConfirm('профессора', @Model.Id);"><i class="fa fa-trash"></i> Удалить</button>
}
<a asp-action="Index" class="btn btn-sm btn-secondary" style="margin-top: 5px; width: 200px;"><i class="fa fa-ban"></i> Вернуться</a>