@{
    ViewData["Title"] = "Доступ запрещен";
}

<div class="bg-danger p-2 text-white text-center">
    <h4>Доступ запрещен</h4>
</div>

@if (Context.User.Identity?.IsAuthenticated == true)
{
    <div class="text-center" style="margin-top: 20px">
        <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Logout"><i class="fa fa-sign-out"></i> Выйти [@Context.User.Identity.Name]</a>
    </div>
}

<div class="text-center">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">На главную</a>
</div>