@model DepartmentModel

<div class="text-center">
    <h2>Редактирование департамента (id = @Model.Id)</h2>
</div>

@using (Html.BeginForm(
            "Edit",
            "Departments",
            FormMethod.Post))
{
    <div>
        <div style="margin-top: 20px;">
            <label asp-for="Building">@Html.DisplayNameFor(model => model.Building):</label>
            <input asp-for="Building" class="form-control" />
            <span asp-validation-for="Building" class="text-danger"></span>
        </div>

        <div style="margin-top: 20px;">
            <label asp-for="Financing">@Html.DisplayNameFor(model => model.Financing):</label>
            <input asp-for="Financing" class="form-control" />
            <span asp-validation-for="Financing" class="text-danger"></span>
        </div>

        <div style="margin-top: 20px;">
            <label asp-for="Name">@Html.DisplayNameFor(model => model.Name):</label>
            <input asp-for="Name" class="form-control" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>

        <div style="margin-top: 20px;">
            <button type="submit" class="btn btn-sm btn-primary" style="width: 200px;"><i class="fa fa-floppy-o"></i> Сохранить</button>
            <br />
            <a asp-action="Index" class="btn btn-sm btn-secondary" style="margin-top: 5px; width: 200px;"><i class="fa fa-ban"></i> Вернуться</a>
        </div>
    </div>
}